* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

header {
    background-image: url(./IMG-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

h2.middle {
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.cards {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.card {
    display: block;
    width: 20%;
    height: 20%;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.22);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.sec-2 {
    background-color: darkcyan;
}

.cyan {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.card-1 {
    width: 50%;
}

.left {
    text-align: left;
    padding: 10px 1px;
    width: 100%;
    font-size: 20px;
}

h2.left {
    font-size: 50px;
}

.cyan img {
    width: 100%;
    display: block;
}

footer {
    color: white;
    background-color: rgb(77, 77, 77);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}